extends layouts/login-layout.pug

block content   
    .loginContainer
        h1 Register   
        form#regform(method="post", onsubmit = "event.preventDefault(); validateForm();") 

            p.errorMessage #{errorMessage}
            input(type="text", name="firstName", placeholder = "First Name", value= firstName required = "")
            input(type="text", name="lastName", placeholder = "Last Name", value= lastName required = "")
            input(type="text", name="username", placeholder = "Username", value= username required = "")
            input(type="email", name="email", placeholder = "Email", value= email required = "")
            input#password(type="password", name="password", placeholder = "password", required = "")
            input#passwordconfirm(type="password", name="passwordConf", placeholder = "Confirm password", required = "")
            input(type="submit", value="Login")

        a(href="/login") Have an account? Login here.

        //client side validation for password
    script.
        var passwordField = document.getElementById("password")
        var passwordConfField = document.getElementById("passwordconfirm")
        var form = document.getElementById("regform")

        function validateForm() {
            if(passwordField.value != passwordConfField.value) {
                alert("Error: Passwords do not match");
            }
            else {
                form.submit();
            }
        }

        
